# {{ORG}} Instructions
{{> header}}

## Routing Hints
{{ROUTING_HINTS}}

## Host Context
{{HOST_CONTEXT}}

## Sprint
{{SPRINT_WEEK}} - {{SPRINT_THEME}}

Rendered for {{HOST_ALIAS}} ({{HOSTNAME}}) by {{USER}} at {{HOME}}.
